@import "tailwindcss";

@layer utilities {
  .bg-avion1 {
    background-image: url("/img/avion1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .bg-avion2 {
    background-image: url("/img/avion2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
